{% extends "layout.html" %}

{% import "page.html" as pg %}

{% block css %}
<style type="text/css">
    .table td, .table th {
        /*padding: .75rem;*/
        vertical-align: middle;
    }
</style>

{% endblock %}

{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>标题</th>
        <th>分类</th>
        <th>封面</th>
        <th>作者</th>
        <th>发布时间</th>
        <th>管理操作</th>
    </tr>
    </thead>
    {% for v in page_data.items %}
    <tr>
        <td>{{ v.title }}</td>
        <td>{{ cate[v.cate-1][1] }}</td>
        <td>
{#            <img data-src="holder.js/75x40">#}
            <img src="/static/uploads/{{ v.logo }}" alt="" style="width: 75px;height: 40px;">
        </td>
        <td>{{ session["user"] }}</td>
        <td>{{ v.addtime }}</td>
        <td>
            <button class="btn btn-sm btn-outline-warning">编辑</button>
            <button class="btn btn-sm btn-outline-danger">删除</button>
        </td>
    </tr>

    {% endfor %}
</table>
{#<nav>#}
{#    <ul class="pagination">#}
{#        <li class="page-item"><a href="#" class="page-link">上一页</a></li>#}
{#        <li class="page-item"><a href="#" class="page-link">1</a></li>#}
{#        <li class="page-item"><a href="#" class="page-link">2</a></li>#}
{#        <li class="page-item"><a href="#" class="page-link">3</a></li>#}
{#        <li class="page-item"><a href="#" class="page-link">4</a></li>#}
{#        <li class="page-item"><a href="#" class="page-link">5</a></li>#}
{#        <li class="page-item"><a href="#" class="page-link">下一页</a></li>#}
{##}
{#    </ul>#}
{#</nav>#}
    {{ pg.page(page_data,"art_list") }}
{% endblock %}



{% block js %}
<script>
    $(document).ready(function () {
        $("#m2").addClass("active");
        
    });
</script>

{% endblock %}