{% extends "user.html" %}

{% block content %}

<form method="post">
    {% for msg in get_flashed_messages(category_filter=['err']) %}
    <p style="color: red">{{ msg }}</p>
    {% endfor %}
    <div class="form-group">
        <label>账号</label>
        <!--<input type="text" class="form-control" placeholder="请输入账号信息">-->
        {{ form.name }}
        {% for v in form.name.errors %}
        <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>密码</label>
        <!--<input type="password" class="form-control" placeholder="请输入密码">-->
        {{ form.pwd }}
        {% for v in form.pwd.errors %}
        <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>确认密码</label>
        <!--<input type="password" class="form-control" placeholder="请确认密码">-->
        {{ form.repwd }}
        {% for v in form.repwd.errors %}
        <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>验证码</label>
        <!--<input type="text" class="form-control" placeholder="请输入验证码">-->
        {{ form.code }}
        <img data-src="holder.js/180x50" style="margin-top: 6px;">
        {% for v in form.code.errors %}
        <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    <a href="/login/">已有账号？前往登陆</a>
    <br>
    <!--<a class="btn btn-success" href="/login/">注册</a>-->
    {{ form.submit }}
    {{ form.csrf_token }}
</form>

{% endblock %}

{% block js %}
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.js"></script>

{% endblock %}